<!DOCTYPE html>
<html lang="ja">
<head>
    <title>LiveKit Demo</title>
</head>
<body>
    <button id="liveStart">ライブを始める</button>
    <div id="video-container"></div>
</body>
<!-- <script src="/static/front/js/base.js"></script> -->
<script type="module">
  // import { connect, RoomEvent } from 'https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.esm.js';
  import { connect, Room, RoomEvent, createLocalVideoTrack, createLocalAudioTrack } from 'https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.esm.js';
  document.getElementById('liveStart').addEventListener('click', async () => {
    try {
        const response = await fetch('/live/start');
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        const data = await response.json();
        const token = data.token;

        const wsURL = "wss://livekit-test.colabmix.jp/livekit_server";

        // LiveKit に接続
        const room = await connect(wsURL, token);

        // ブラウザ互換性のチェック
        if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
            throw new Error('getUserMedia is not supported in this browser.');
        }

        // カメラとマイクのトラックを作成
        const videoTrack = await createLocalVideoTrack().catch(error => {
            console.error('Error creating video track:', error);
        });
        const audioTrack = await createLocalAudioTrack().catch(error => {
            console.error('Error creating audio track:', error);
        });

            // トラックが作成された場合のみパブリッシュ
            if (videoTrack) {
                await room.localParticipant.publishTrack(videoTrack);
            }
            if (audioTrack) {
                await room.localParticipant.publishTrack(audioTrack);
            }

            room.on(RoomEvent.TrackSubscribed, (track, publication, participant) => {
                console.log('TrackSubscribed', track, publication, participant);
                if (track.kind === 'video') {
                    const videoContainer = document.getElementById('video-container');
                    const videoElement = track.attach();
                    videoContainer.appendChild(videoElement);
                    console.log('Video element attached', videoElement);
                }
            });

            room.on(RoomEvent.TrackUnsubscribed, (track, publication, participant) => {
                console.log('TrackUnsubscribed', track, publication, participant);
                if (track.kind === 'video') {
                    const attachedElements = track.detach();
                    attachedElements.forEach(element => {
                        element.remove();
                        console.log('Video element removed', element);
                    });
                }
            });

            console.log('ルームへの接続に成功しました。');
        } catch (error) {
            console.error('接続エラー:', error);
        }
    });
</script>
</html>
