<!DOCTYPE html>
<html lang="ja">
<head>
    <title>LiveKit Demo</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.umd.min.js"></script> -->
    <link href="/static/front/css/styles.css" rel="stylesheet">
</head>
<body>
    <h3>Room一覧</h3>
    <ul id="room-list">
        {% for room_name in room_names %}
        <li><a href="#" onclick="joinRoom('{{ room_name }}')">{{ room_name }}</a></li>
        {% endfor %}
    </ul>

    <div id="my-video-container"></div>
    <div id="remote-video-container"></div>

    <script type="module">
        import { connect, createLocalVideoTrack, RoomEvent } from 'https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.esm.js';

        // ルームに参加するための関数
        window.joinRoom = async function(roomName) {
            // トークン取得APIのエンドポイント（適宜設定してください）
            const tokenEndpoint = `/api/token?room=${roomName}`;
            const response = await fetch(tokenEndpoint);
            const data = await response.json();

            if (data.token) {
                const room = await connect('wss://livekit-test.colabmix.jp/livekit_server', data.token);

                // 自分のビデオトラックを生成し、パブリッシュ
                const localVideoTrack = await createLocalVideoTrack();
                const videoElement = localVideoTrack.attach();
                videoElement.autoplay = true;
                videoElement.playsInline = true;
                document.getElementById('my-video-container').appendChild(videoElement);

                await room.localParticipant.publishTrack(localVideoTrack);

                // 他の参加者の既存トラックを表示
                room.participants.forEach(participant => {
                    participant.tracks.forEach(publication => {
                        if (publication.track && publication.track.kind === 'video') {
                            const remoteVideoElement = publication.track.attach();
                            remoteVideoElement.autoplay = true;
                            remoteVideoElement.playsInline = true;
                            document.getElementById('remote-video-container').appendChild(remoteVideoElement);
                        }
                    });
                });

                // 他の参加者のビデオトラックをサブスクライブ
                room.on(RoomEvent.TrackSubscribed, (track, publication, participant) => {
                    if (track.kind === 'video') {
                        const videoElement = track.attach();
                        videoElement.autoplay = true;
                        videoElement.playsInline = true;
                        document.getElementById('remote-video-container').appendChild(videoElement);
                    }
                });
            } else {
                console.error('トークンの取得に失敗しました');
            }
        }

    </script>
</body>
</html>
