<!DOCTYPE html>
<html lang="ja">
<head>
    <title>LiveKit Demo</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.umd.min.js"></script> -->
    <link href="/static/front/css/styles.css" rel="stylesheet">
</head>
<body>
    <button id="liveStart">ライブを始める</button>
    <div id="my-video-container"></div>
    <div id="remote-video-container"></div>
    <video id="video" width="640" height="480" autoplay playsinline></video>
</body>

<script type="module">
    import { connect, Room, RoomEvent, createLocalVideoTrack, createLocalAudioTrack } from 'https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.esm.js';
    document.getElementById('liveStart').addEventListener('click', async () => {
        try {
            const response = await fetch('/live/start');
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const data = await response.json();
            const token = data.token;

            const wsURL = "wss://livekit-test.colabmix.jp/livekit_server";

            // LiveKit に接続
            const room = await connect(wsURL, token, {
                // Video track settings
                videoCaptureDefaults: {
                    resolution: { width: 1280, height: 720 }
                },
                adaptiveStream: true,
                dynacast: true
            });

            // ローカルビデオトラックの生成
            const localVideoTrack = await createLocalVideoTrack();
            const videoElement = localVideoTrack.attach();
            videoElement.autoplay = true;
            videoElement.playsInline = true;
            videoElement.muted = true;

            // ビデオコンテナにビデオエレメントを追加
            document.getElementById('my-video-container').appendChild(videoElement);

            await room.localParticipant.publishTrack(localVideoTrack);

            // 他の参加者のビデオトラックを購読
            room.on(RoomEvent.TrackSubscribed, (track, publication, participant) => {
                console.log(`Track subscribed: ${track.kind}, isEnabled: ${track.isEnabled}, isSubscribed: ${publication.isSubscribed}`);
                if (track.kind === 'video') {
                    const videoElement = track.attach();
                    document.getElementById('remote-video-container').appendChild(videoElement);
                }
            });
        } catch (error) {
            console.error('接続エラー:', error);
        }
    });
</script>
</html>
